[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pnd"]
	path = pnd
	url = https://github.com/fifis/pnd
[submodule "smoothemplik"]
	path = smoothemplik
	url = https://github.com/fifis/smoothemplik
